@import "./icon.scss";
html {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
}

html, body {
    height: 100%;
    width: 100%;
    //overflow-x: hidden;
}

#app {
    height: 100%;
}

* {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

a,input,textarea{
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	user-select:text;
}
